{% extends 'base.html' %}
{% block title %}{{ project.name }}{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <div class="pre"><p><b>Post text: </b>{{ post.text }}</p></div>
    <p><b>Author: </b>{{ post.author }}</p>
    <p><b>Created at: </b>{{ post.created_at|date:'d.m.Y H:i:s' }}</p>
     <p><b>PK </b> {{ post.pk }}</p>
    <br>
    <br>
    {% for i in post_comments %}
        <p>{{ i.comment_id }}</p>
    {% endfor %}

    <form action="{% url 'post_comment_create' post.pk %}" method="POST" id="add_comment">
        {% include 'partial/form.html' with button_text='Add' %}
    </form>

{% endblock %}